.modal.fade#snekForm{ "aria-hidden" => "true" }
  .modal-dialog.modal-lg
    .modal-content
      = form_for @snek do |f|
        .modal-header
          %h5.modal-title
            Tell me ’bout your snek
          %button.close{ "type" => "button", "data-dismiss" => "modal", "aria-label" => "Close" }
            %span{ "aria-hidden" => "true" } &times;
        .modal-body
          .form
            .form-group
              = f.label :name, { class: "form-control-label"}
              = f.text_field :name, { class: "form-control", required: "true", oninvalid: "this.setCustomValidity('Name yer snek, dood.')"}

              Sneaky Avatar
              %br
              -# trying to style this with bootstrap but fucking failng...

              -# .fileinput.fileinput-new{ "data-provides" => "fileinput" }
              -#   .fileinput-preview.thumbnail{ "data-trigger" => "fileinput", "style" => "width: 200px; height: 150px;" }
              -#     %span.btn.btn-default.btn-file
              -#       %span.fileinput-new
              -#         Select image
              -#         %span.fileinput-exists
              -#           Change
              -#           %input{ type: "file", name: "..." }
              -#     %a.btn.btn-default.fileinput-exists{"href" => "#", "data-dismiss" => "fileinput" } Remove

              -# %label.custom-file
              -#   %input.custom-file-input#file{ name: 'snek[avatar]', type: 'file' }
              -#   %span.custom-file-control

              = f.file_field :avatar
              - if f.object.avatar?
                = image_tag f.object.avatar.thumb
                = f.label :remove_avatar
                = f.check_box :remove_avatar
              = f.hidden_field :avatar_cache

              -# %input.btn.btn-primary{type: 'file'}
              %br

              Sex
              %br
              %label.custom-control.custom-radio
                %input.custom-control-input#snek_sex_male{ name: 'snek[sex]', value: 'Male', type: 'radio' }
                %span.custom-control-indicator
                %span.custom-control-description Male

              %label.custom-control.custom-radio
                %input.custom-control-input#snek_sex_female{ name: 'snek[sex]', value: 'Female', type: 'radio' }
                %span.custom-control-indicator
                %span.custom-control-description Female
              %br
              = f.label :age, { class: "form-control-label" }
              = f.number_field :age, { class: "form-control" }

              = f.label :species, { class: "form-control-label" }
              = f.text_field :species, { class: "form-control" }

              = f.label :morph, { class: "form-control-label" }
              = f.text_field :morph, { class: "form-control" }

              = f.label :adoption_date, 'Adoption Date', { class: "form-control-label" }
              = f.date_field :adoption_date, { class: "form-control" }

        .modal-footer
          %button.btn.btn-secondary{ "data-dismiss" => "modal" } Close
          = f.submit 'Dat my snek!', { class: "btn btn-primary" }
