!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no, maximum-scale=1")
    %title Snekcellent
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{ src: "https://use.fontawesome.com/3e237d1386.js" }
  %body
    .navbar.navbar-inverse.bg-inverse#top-bar
      = link_to 'Snekcellent', root_path, class: "navbar-brand mb-0 text-center"
    .container#content-container
      - if flash[:notice]
        .alert.alert-info.alert-dismissable.fade.show
          %button.close{ "aria-label" => "Close", "data-dismiss" => "alert", :type => "button" }
            %span{ "aria-hidden" => "true" } &times;
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-warning.alert-dismissable.fade.show
          = flash[:alert]
      = yield
    - if user_signed_in?
      %nav.navbar-light.bg-faded
        .container
          %ul.nav.nav-pills.nav-justified
            %li.nav-item
              = link_to root_path, class: "nav-link" do
                %i.fa.fa-pencil-square-o.fa-2x{ "aria-hidden" => "true" }
            %li.nav-item
              %a.nav-link{href: '#'}
                %i.fa.fa-history.fa-2x{ "aria-hidden" => "true" }
            %li.nav-item
              = link_to image_tag('noun_200416_cc.svg', class: "sneks-nav-link"), sneks_path, class: "nav-link"
            %li.nav-item.dropup
              %a.nav-link.dropdown-toggle{ "data-toggle" => "dropdown",
                                            role: "button",
                                            "aria-haspopup" => "true",
                                            "aria-expanded" => "false",
                                            href: "#" }
                %i.fa.fa-cogs.fa-2x{ "aria-hidden"=> "true" }
              .dropdown-menu.dropdown-menu-right
                %a.dropdown-item{ href: "#" }
                  Account Settings
                = link_to 'Sign out', destroy_user_session_path,
                  method: :delete, class: "dropdown-item" if user_signed_in?
