!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    %title Snekcellent
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{ src: "https://use.fontawesome.com/3e237d1386.js" }
  %body
    .container#content-container
      .h1.text-center#site-title Snekcellent
      - if flash[:notice]
        .alert.alert-info.alert-dismissable.fade.show
          = flash[:notice]
      %p.alert= alert
      = yield
    - if user_signed_in?
      %nav.navbar-light.bg-faded
        .container
          %ul.nav.nav-pills.nav-justified
            %li.nav-item
              %a.nav-link{ href: '#' }
                %i.fa.fa-home.fa-2x{ "aria-hidden" => "true" }
            %li.nav-item
              %a.nav-link{href: '#'}
                %i.fa.fa-history.fa-2x{ "aria-hidden" => "true" }
            %li.nav-item
              %a.nav-link{ href: '#' }
                = image_tag('noun_200416_cc.svg', class: "sneks-nav-link")
            %li.nav-item.dropup
              %a.nav-link.dropdown-toggle{ "data-toggle" => "dropdown",
                                            role: "button",
                                            "aria-haspopup" => "true",
                                            "aria-expanded" => "false",
                                            href: "#" }
                %i.fa.fa-cogs.fa-2x{ "aria-hidden"=> "true" }
              .dropdown-menu
                %a.dropdown-item{ href: "#" }
                  Account Settings
                = link_to 'Sign out', destroy_user_session_path,
                  method: :delete, class: "dropdown-item" if user_signed_in?
